.home-page,
.about-page,
.single-project-page {
    &>* {
        padding: 6rem 3rem;
        @include respond(large) {
            padding: 5rem 3rem;
        }
        @include respond(medium) {
            padding: 5rem 2rem;
        }
        @include respond(small) {
            padding: 4rem 1.5rem;
        }
    }
    &>*>* {
        margin: 0 auto;
        max-width: $grid-width;
    }
}