.section-intro {
    background-color: $color-white;
}

.section-portfolio {
    background-color: $color-grey-light;
}

.section-services {
    background-color: $color-white;
}

.section-testimonial {
    background-color: $color-grey-light;
}

.section-hire {
    background-color: $color-grey-light;
    padding-bottom: 7rem;
}